@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

.body_part_one_color {
    background-color: #1F2937;
}

.body_part_one {
    padding-left: 28rem;
    padding-right: 28rem;
    padding-bottom: 8rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.1rem;
}

.header .logo {
    font-size: 24px;
    color: #E5E7EB;
}

.header .links {
    display: flex;
    gap: 1.5rem;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
}

.header ul {
    text-decoration: none;
    list-style-type: none;
}

.container_part_one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 7rem;
}

.left-side_one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 28rem;
}

.left-side_one h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.left-side_one p {
    font-size: 18px;
    color: #E5E7EB;
}

.left-side_one a {
    display: inline-block;
    width: 4rem;
    background-color: #3882F6;
    color: #F9FAF8;
    margin-top: 0.7rem;
    padding: 8px 32px;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.right-side_one alt {
    font-size: 24px;
    color: #F9FAF8;
}

.right-side_one img {
    width: 33rem;
    height: 15rem;
}