
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.body_part_one_color {
    background-color: #1F2937;
}

.body_part_one {
    padding-left: 27.5rem;
    padding-right: 27.5rem;
    padding-bottom: 7.5rem;
}

.header_hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.1rem;
}

.header_hero .logo {
    font-size: 24px;
    color: #E5E7EB;
}

.header_hero .links {
    display: flex;
    gap: 1.5rem;
}

.header_hero a {
    font-size: 18px;
    color: #E5E7EB;
}

.header_hero ul {
    text-decoration: none;
    list-style-type: none;
}

.container_hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16rem;
    margin-top: 7rem;
    gap: 3rem;
}

.left-side_one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 28rem;
    flex: 1;
}

.left-side_one h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.left-side_one p {
    font-size: 18px;
    color: #E5E7EB;
}

.left-side_one a {
    display: inline-block;
    width: 4rem;
    background-color: #3882F6;
    color: #F9FAF8;
    margin-top: 0.7rem;
    padding: 8px 32px;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.right-side_one alt {
    font-size: 24px;
    color: #F9FAF8;
}


.right-side_one img {
    height: 15rem;
    width: 32.5rem;
}


.body_part_two_color {
    background-color: white;
}

.body_part_two {
    padding-left: 34rem;
    padding-right: 34rem;
    padding-bottom: 7.5rem;
    padding-top: 3rem;
}

.header_info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_info h1 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.boxes_info {
    display: flex;
    column-gap: 3rem;
    margin-top: 3rem;
    height: 15rem;

}

.container_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1 1 0%;
    gap: 0.5rem;
}

.box {
    border: 4px solid #3882F6;
    flex: 1;
    border-radius: 1rem;
}

.textbox {
    font-size: 18px;
    color: dimgray;
}

.body_part_three_color {
    background-color: #E5E7EB;
}

.body_part_three {
    padding-left: 35rem;
    padding-right: 35rem;
    padding-bottom: 6.5rem;
    padding-top: 8rem;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
    quotes: none;
}

.container_quote {
    display: flex;
    flex-direction: column;
    
}

.author {
    display: flex;
    justify-content: end;
    font-size: 24px;
    font-weight: bold;
    padding-right: 2rem;
}


.body_part_four_color {
    background-color: white;
}

.body_part_four {
    padding-left: 28rem;
    padding-right: 28rem;
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
}

.container_action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9.5rem;
    border-radius: 10px;
    background: #3882F6;
}


.headerAction {
    color: white;
    font-size: 24px;
}

.subtextAction {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400;
}


.buttonAction {
    display: inline-block;
    height: 2.3rem;
    width: 8.2rem;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;

}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.footerText {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
