body {
    font-family: Roboto;
}

.body_part_one {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    
}

.links {
    display: flex;
    gap: 1.5em;
}

a {
    text-decoration: none;
}

.container_part_one {
    display: flex;
}

.left-side_one h1 {
    font-size: 48px;
    color: #F9FAF8;
    weight: 900;
}

.left-side_one p {
    font-size: 18px;
    color: #E5E7EB;
}