@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Roboto, sans-serif;
}

.body_part_one {
    background-color: #1F2937;
    height: 40rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
}

#header_logo {
    font-size: 20px;
    color: #E5E7EB;
    font-weight: 900;
}

.header ul {
    text-decoration: none;
    list-style-type: none;
}

.links {
    display: flex;
    gap: 1.5em;
}

a {
    text-decoration: none;
}

.container_part_one {
    display: flex;
    justify-content: space-around;
    margin-top: 10em;
    
}

.left-side_one {
    display: flex;
    flex-direction: column;
    width: 25em;

}

.left-side_one h1 {
    font-size: 48px;
    color: #F9FAF8;
    weight: 900;
}

.left-side_one p {
    font-size: 18px;
    color: #E5E7EB;
}

.right-side_one alt {
    font-size: 24px;
    color: #F9FAF8;
}

.left-side_one a {
    color: #3882F6;
}

.right-side_one img {
    width: 400px;
    height: 250px;
}